# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "composer" # See documentation for possible values
    directory: "/app/" # Location of package manifests
    versioning-strategy: lockfile-only
    commit-message:
      prefix: "fix"
      prefix-development: "build"
      include: "scope"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "roave/security-advisories"
    groups:
      symfony:
        patterns:
          - "symfony/*"
      doctrine:
        patterns:
          - "doctrine/*"
      twig:
        patterns:
          - "twig/*"
