name: "Tests"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "develop"
      - "feature/tests"
  pull_request:
    branches:
      - "main"
      - "develop"

permissions:
  contents: "read"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  unit_tests:
    name: "Unit and functional tests"
    strategy:
      #fail-fast: false
      matrix:
        php-version:
          - "8.4"
          - "8.5"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Set up PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"

      - name: "Checkout code"
        uses: "actions/checkout@v3"

      - name: "Install dependencies"
        uses: "ramsey/composer-install@v2"
        with:
          working-directory: "app"

      - name: "Execute unit tests"
        working-directory: "app"
        run: "vendor/bin/phpunit"

  static_analysis:
    name: "Static Analysis"
    strategy:
      #fail-fast: false
      matrix:
        php-version:
          - "8.4"
          - "8.5"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Set up PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "none"

      - name: "Checkout code"
        uses: "actions/checkout@v3"

      - name: "Check JSON files"
        run: |
          find . -type f -name '*.json' | xargs -t -L 1 -- php -r 'json_decode(file_get_contents($argv[1]), null, 512, JSON_THROW_ON_ERROR);'

      - name: "Validate Composer configuration"
        working-directory: "app"
        run: "composer validate --no-interaction"

      - name: "Install dependencies"
        uses: "ramsey/composer-install@v2"
        with:
          working-directory: "app"
          dependency-versions: "highest"

      - name: "Check PSR-4 mapping"
        working-directory: "app"
        run: "composer dump-autoload --no-interaction --optimize --strict-psr"

      - name: "Perform static analysis"
        working-directory: "app"
        run: "vendor/bin/phpstan analyse -c phpstan.dist.neon"
